* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video-section video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: -1;
}

#form {
  position: relative;
  width: 60%;
  height: 85%;
  margin: 50px auto;
  padding: 20px;
  background: transparent;
  border-radius: 12px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.4);
  text-align: left;
  overflow-y: auto;
  scroll-behavior:smooth;
  scrollbar-width: none;
}

#form form {
  display: flex;
  flex-direction: column;
}

#form input,
#form select,
#form button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
#form #check{
    display: flex;
    color: white;
}
#form #check input{
    background-color: red;
}

#form button {
    width: 200px;
    text-orientation: calc();
  background: teal;
  color: white;
  font-weight: bold;
  cursor: pointer;
 position: sticky;
}

#form button:hover {
  background: darkslategray;
}
@media(max-width:400px)
{
  .video-section{
   width: 100%;
  }
  #form{
    width: 70%;
    height: 60%;
  }
}